/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  color: black;
  background-color: #22ffa2;
}
p {
  font-size: large;
}
img {
  width: 500px;
  height: 370px;
}

